@import "colors";
@import "variables";

.bold {
    font-weight: bold;
}

.normal {
    font-weight: normal;
}

.text {
    font-family: $project_font;
    color: $color_text;
}

.text-gray {
    color: $color_gray !important;
}

.text-green {
    color: $color_green !important;
}

.text-red {
    color: $color_red !important;
}

.text-dark-green {
    color: $color_dark_green !important;
}

.text-dark-red {
    color: $color_dark_red !important;
}

.text-orange {
    color: $color_orange !important;
}

.text-sm {
    font-size: 13px !important;
}

.text-md {
    font-size: 14px !important;
}

.text-lg {
    font-size: 16px !important;
}

.fl-right {
    float: right;
}

.inline {
    display: inline-block;
    vertical-align: top;
}

.flex {
    display: flex;
}

.items-center {
    align-items: center;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.self-end {
    justify-self: flex-end;
}

.self-align-end {
    align-self: flex-end;
}

.grow {
    flex-grow: 1;
}

.inline-flex {
    display: inline-flex;
}

.va-top {
    vertical-align: top;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.justify-end {
    justify-content: flex-end;
}

.border {
    border: 1px solid $color_light_gray;
    border-radius: 2px;
}

.line-through {
    text-decoration: line-through;
}

.h-1em {
    height: 1em;
}

.no-wrap {
    white-space: nowrap;
}

.va-middle {
    vertical-align: middle !important;
}

/** Widths in %, from 5% to 100%, step by 5% */
@for $i from 1 through 20 {
    .w-#{$i * 5} {
        width: $i * 5%;
    }
}

/** Widths in px, from 10px to 700px, step by 10 */
@for $i from 1 through 70 {
    .w-#{$i * 10}px {
        width: $i * 10px;
    }
}

/** Margin in px, from 0 to 50px, step by 5px */
@for $i from 0 through 10 {
    .mt-#{$i * 5} {
        margin-top: $i * 5px;
    }
    .mb-#{$i * 5} {
        margin-bottom: $i * 5px;
    }
    .ml-#{$i * 5} {
        margin-left: $i * 5px;
    }
    .mr-#{$i * 5} {
        margin-right: $i * 5px;
    }

    .mx-#{$i * 5} {
        margin-left: $i * 5px;
        margin-right: $i * 5px;
    }
    .my-#{$i * 5} {
        margin-top: $i * 5px;
        margin-bottom: $i * 5px;
    }
    .m-#{$i * 5} {
        margin: $i * 5px;
    }
}

/** Padding in px, from 0 to 50px, step by 5px */
@for $i from 0 through 10 {
    .pt-#{$i * 5} {
        padding-top: $i * 5px;
    }
    .pb-#{$i * 5} {
        padding-bottom: $i * 5px;
    }
    .pl-#{$i * 5} {
        padding-left: $i * 5px;
    }
    .pr-#{$i * 5} {
        padding-right: $i * 5px;
    }
    .p-#{$i * 5} {
        padding: $i * 5px;
    }
    .ph-#{$i * 5} {
        padding-left: $i * 5px;
        padding-right: $i * 5px;
    }
    .pv-#{$i * 5} {
        padding-top: $i * 5px;
        padding-bottom: $i * 5px;
    }
}

