$project_font: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;

$header_height: 60px;
$header_menu_height: 60px;
$max_width: 1200px;

$animation_time: 150ms;
$animation: cubic-bezier(0.24, 0.19, 0.28, 1.29);
$animation_bounce: cubic-bezier(0.24, 0.19, 0.63, 2.26);

$page_padding: 20px 30px 30px;

$page_title_height: 35px;

$pagination_base_unit: 35px;

$expand_base_unit: 35px;

$actions_menu_base_unit: 35px;

$base_base_unit: 35px;
$base_button_unit: 35px;
$base_tabs_unit: 35px;

$drag_item_base: 35px;
